.about {
    padding-top: 30px;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

.about h1 {
    font-size: 40px;
    padding-bottom: 30px;
    font-weight: bold;
    color: whitesmoke
}

.is-vcentered {
    display: flex;
    padding-top: 60px;
}
