a {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: x-large;
    text-decoration: none;
}

.navbar-custom {
    background-color: white;
}

.nav-item {
    margin-right: 80px;
}

.btn {
    margin-right: 80px;
}

.navbar-toggler {
    background-color: #A1DCE1;
    border: none;
    padding: 10px 6px;
    outline: none;
}
