body {
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }

  html {
    background-color: #ecae7d;
  }
  
  code {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
  }
  